.newsList{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 16px;
    margin-top: 12px;
}

@media (max-width: 768px) {
  .newsList {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}